.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding-bottom: 3px;
}

.nav-link:hover {
  color: #1976d2;
}

.nav-link.active {
  color: #1976d2;
  font-weight: bold;
  border-bottom: 2px solid #1976d2;
}
